@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --nen-xam: #f9f9f9;
    --nen-trang: #fff;
    --nen-am: #fcfaf6;
    --mau-bc-16: hwb(186 0% 0%);
    --mau-sam: #333;
    --mau-chu-dieuhuong: #fff;
    --nen-dieuhuong: var(--mau-bc-16);
    --chieucao-dieuhuong: 60px;
    --mau-duongke: #eee;
    --mau-cta: #ffc419;
}

* {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
    // word-break: break-word;
    white-space: normal;
}
// scrollbar

html *::-webkit-scrollbar {
    width: 6px;

    // background-color: #fff;
}

html *::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 6px;
    border: 1px solid #333;
    background-clip: content-box;
    background-color: #fff;
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--main-font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    min-width: 320px;
    overflow-y: overlay;
    background-color: var(--background-color);
    color: #000;
    // user-select: none;
    min-width: 320px;
}

button {
    cursor: pointer;
}

button,
input,
[tabindex] {
    background-color: transparent;
    outline: 1px solid transparent;
    border: 1px solid transparent;
}

a[href] {
    text-decoration: none;
    // color: var(--mau-bc-16);
    // color: #3300ff;
    // &:hover {
    //     color: red;
    // }
}

//customSlickCss
.slick-arrow {
    z-index: 2;
    &:hover {
        opacity: 1;
    }
}
.slick-arrow:before {
    font-style: normal;
    font-weight: 400;
    background: #fff;
    border: 2px solid #d7d7d7;
    padding: 10px;
    text-align: center;
    color: #959595 !important;
}
.slick-next:before {
    font-family: 'Glyphicons Halflings';
    content: '\e258' !important;
}
.slick-prev:before {
    font-family: 'Glyphicons Halflings';
    content: '\e257' !important;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0 !important;
}
.slick-next {
    right: 9px !important;
}
.slick-prev {
    left: -15px !important;
}
.slick-slide > div {
    margin: 0 2px;
}
.slick-list {
    margin: 0 -2px;
}

/////
.SnackbarItem-contentRoot {
    font-size: 1.4rem !important;
}
