$primary-color: #fff;
$background-color: linear-gradient(54deg, #9164ff, #8bfff4);
$text-color: #3c3f64;

////// Profile
.action {
    .social-btn {
        padding: 0;
        text-decoration: none;
        margin: 4px;
        display: inline-block;
        transform: scale(1);
        transition-duration: 0.4s;
        border: 4px solid white;
        border-radius: 50%;
        box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.402);
        animation: scale 1s linear infinite;
        color: #4741ff;
        + .social-btn {
            margin-left: 10px;
        }
        background-color: #fff;
    }

    @keyframes scale {
        0% {
            transform: scale(1.1);
        }
        20% {
            transform: scale(1.12);
        }
        40% {
            transform: scale(1.13);
        }
        60% {
            transform: scale(1.15);
        }
        80% {
            transform: scale(1.12);
        }
        100% {
            transform: scale(1.1);
        }
    }
}

.project-btn {
    &:hover {
        box-shadow: #929292a4 0px 0px 8px 2px;
    }
}
